:host {
  flex: 1 1 100%;
  padding: 0 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0.5em;
  margin-top: 0.83em;
}

.login-form {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.login-form > input:first-of-type {
  border-bottom-width: 0;
}

.login-button {
  align-self: flex-end;
}

.invisible {
  visibility: hidden;
}
